.header {
  padding: 1rem;
  border: 0.1rem solid rgba(34,36,38,.15);
  box-shadow: 0 0.01rem 0.2rem 0 rgba(34, 36, 38,  15%);
  border-radius: 0.28571429rem;

  &__menu {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    max-width: 2rem;
    width: 100%;
    cursor: pointer;
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 0.1rem solid transparent;
    & .active {
      color: #5a5a5a;
      transform: scale(1.4);
      font-weight: 600;
      border-bottom: 0.1rem solid #000000;
    }

    &:hover {
      transform: scale(1.1);
    }
    &:not(:first-child) {
      margin-left: 2rem;
    }
  }
}
