* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: #000000;
}
.m-t {
  margin-top: 3rem;
}
.app__wrapper {
  position: relative;
}
body {
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
